swagger: "2.0"
info:
  title: Transaction Bank Argent API documentation
  description: Contains all available API endpoints for transaction
  version: "1.0.0"

host: localhost:3001
basePath: /api/v1
schemes:
  - https

paths:
  /account:
    get:
      summary: Get account of user
      description: Getting user account
      security:
        - Bearer: []

      responses:
        "200":
          description: Account successfully retrieved
        "400":
          description: Unauthorized to get account
        "500":
          description: Internal Server Error

  /account/{accountId}/transaction:
    get:
      summary: Get transaction
      description: Get user transactions from their account
      security:
        - Bearer: []

      parameters:
        - name: accountId
          in: path
          description: Id of the user account
          required: true
          type: integer

      responses:
        "200":
          description: Account successfully retrieved
        "400":
          description: Unauthorized to get transaction
        "500":
          description: Internal Server Error

  /transaction/{transactionId}/category:
    put:
      summary: Modify a category transaction
      description: Modify a category transaction on the user account
      security:
        - Bearer: []

      parameters:
        - name: transactionId
          in: path
          description: Id of the transaction
          type: integer
          required: true
        - name: category
          in: body
          description: New category for transaction
          schema:
            type: object
            properties:
              category:
                type: string

      responses:
        "200":
          description: Category successfully modified
        "400":
          description: Unauthorized to modify category
        "500":
          description: Internal Server Error

  /transaction/{transactionId}/note:
    post:
      summary: Add note to the transaction
      description: Allow the user to add a note to their chosen transaction
      security:
        - Bearer: []

      parameters:
        - name: transactionId
          in: path
          description: Id of the transaction
          required: true
          type: integer
        - name: note
          in: body
          description: Note for the transaction
          schema:
            type: object
            properties:
              note:
                type: string

      responses:
        "200":
          description: Note added successfully
        "400":
          description: Unauthorized to add note
          "404": 
           description: Account unvailable  
        "500":
          description: Internal Server Error

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

definitions:
  User:
    properties:
      email:
        type: string
        description: User email
      password:
        type: string
        description: User password
      firstName:
        type: string
        description: User first name
      lastName:
        type: string
        description: User last name
      userName:
        type: string
        description: User public name

  Login:
    properties:
      email:
        type: string
        description: User email
      password:
        type: string
        description: User password

  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string

  LoginResponse:
    type: object
    properties:
      token:
        type: string

  UserProfile:
    type: object
    properties:
      userName:
        type: string
