swagger: "2.0"
info:
  title: "Transaction Management API"
  description: "Contains all available endpoints for managing transactions."
  version: "1.0.0"
host: localhost:3001
basePath: /api/v1
schemes:
  - https

paths:
  /transactions:
    get:
      summary: "Retrieve all transactions for the current month"
      description: "Retrieves all transactions for the current month, grouped by account."
      parameters:
        - name: accountId
          in: query
          description: "User ID to retrieve transactions."
          required: true
          type: string
        - in: header
          name: Authorization
          description: "Attach Bearer JWT token"
          type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: "Transactions retrieved successfully."
          schema:
            $ref: '#/definitions/GetTransactionsResponse'
        "400":
          description: "Bad request."
        "401":
          description: "Unauthorized."
        "403":
          description: "Forbidden."
        "404":
          description: "Transactions not available or not found."
        "500":
          description: "Internal Server Error."

  /transactions/{transactionId}:
    parameters:
      - name: transactionId
        in: path
        description: "ID of the transaction to retrieve, update, or delete."
        required: true
        type: string
    get:
      summary: "Retrieve details of a transaction"
      description: "Retrieves details of a specific transaction."
      parameters:
        - in: header
          name: Authorization
          description: "Attach Bearer JWT token"
          type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: "Transaction details retrieved successfully."
          schema:
            $ref: '#/definitions/SimpleTransactionResponse'
        "404":
          description: "Transaction not found."

    put:
      summary: "Update a transaction"
      description: "Updates information of a specific transaction."
      parameters:
        - name: transactionId
          in: path
          description: "ID of the transaction to update."
          required: true
          type: string
        - name: body
          in: body
          description: "New transaction information."
          required: true
          schema:
            type: object
            properties:
              accountId:
                type: string
                description: "ID of the account related to the transaction."
              amount:
                type: number
                description: "Transaction amount."
              description:
                type: string
                description: "Transaction description."
            required:
              - accountId
              - amount
              - description
        - in: header
          name: Authorization
          description: "Attach Bearer JWT token"
          type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: "Transaction updated successfully."
        "400":
          description: "Bad request."
        "404":
          description: "Transaction not found."

definitions:
  GetTransactionsResponse:
    type: object
    properties:
      account:
        $ref: '#/definitions/AccountDetailResponse'
      transactions:
        type: array
        items:
          $ref: '#/definitions/SimpleTransactionResponse'
        description: "Array of transactions."

  AccountDetailResponse:
    type: object
    properties:
      accountId:
        type: string
        description: "Selected account ID."
      accountCurrency:
        type: string
        description: "Actual currency of the selected account."
      accountNumber:
        type: string
        description: "Bank account number."
      currentBalance:
        type: number
        description: "Current balance of the account."
        format: double

  SimpleTransactionResponse:
    type: object
    properties:
      transactionId:
        type: string
        description: "Transaction ID."
      date:
        type: string
        description: "Date when the transaction occurred."
      description:
        type: string
        description: "Description of the transaction."
      amount:
        type: number
        description: "Transaction amount."
      balance:
        type: number
        description: "Available balance of the account at this point."
        format: double
