table,
table tr {
  width: 100%;
}
.arrow-down,
.arrow-right,
.details {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.account-ctnr {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  background-color: #005834;
  margin-bottom: 20px;
  padding-left: 30px;
  border-radius: 15px;
  color: #fdf1f1;
  position: relative;
  box-shadow: 7px 6px 10px 1px #106e41;
}
.details-td,
table th {
  background: #fff;
}
.account-available,
.account-title {
  font-size: 15px;
  font-weight: 200;
}
.account-balance {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}
.arrow-down,
.arrow-right {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 46px;
}
.arrow-down,
.details-down {
  transform: rotateZ(90deg);
}
.collapsible-content {
  margin-bottom: 20px;
  width: 81%;
  max-height: 0;
  overflow: hidden;
  animation: 0.3s ease-in-out forwards closeCollapse;
}
.collapsible-content-open {
  max-height: 1000px;
  overflow: hidden;
  animation: 0.4s ease-in-out forwards openCollapse;
}
@keyframes openCollapse {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}
@keyframes closeCollapse {
  from {
    max-height: 1000px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
table {
  border-collapse: separate;
  border-spacing: 6px;
  padding: 4px;
  margin-top: 20px;
}
table th {
  padding: 7px;
  color: #0a0000;
}
table td {
  text-align: center;
  padding: 7px;
  background: #34dba1;
  color: #fafafa;
  border-radius: 5px;
  margin: 0;
  animation: 0.5s ease-in-out openCollapse;
}
.details {
  width: 50px;
  display: flex;
  margin: 0;
}
.edit-btn,
.edit-category,
.edit-note {
  cursor: pointer;
}
.edit-transaction {
  background-color: #34dba1;
  padding: 25px;
  animation: 0.5s ease-in-out openCollapse;
}

.transac-container {
  display: flex;
  flex-direction: row; /* Modifier la direction en ligne */
  padding: 20px;
}

.transac-info {
  text-align: center;
}

.edit-transaction h4 {
  margin: 0;
}
.edit-note {
  padding-right: 15px;
}
.edit-btn {
  padding-left: 10px;
}
