.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.account-ctnr {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  background-color: #005834;
  margin-bottom: 20px;
  padding-left: 30px;
  border-radius: 15px;
  color: rgb(253, 241, 241);
  position: relative;
  box-shadow: 7px 6px 10px 1px #106e41;
}

.edit-transaction {
  background-color: #34dba1;
  display: flex;
  align-items: flex-start;
  padding-left: 45px;
  flex-direction: column;
}

.account-title {
  font-size: 15px;
  font-weight: 200;
}

.account-balance {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.account-available {
  font-size: 15px;
  font-weight: 200;
}

.arrow-right,
.arrow-down {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 46px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-down {
  transform: rotateZ(90deg);
}

.collapsible-section {
  margin-bottom: 20px;
  width: 81%;
}

table {
  border-collapse: separate;
  border-spacing: 6px;
  padding: 4px;
  margin-top: 20px;
  width: 100%;
}

table th {
  padding: 7px;
  background: #ffffff;
  color: #0a0000;
}

table tr {
  width: 100%;
}

table td {
  text-align: center;
  padding: 7px;
  background: #34dba1;
  color: #fafafa;
  border-radius: 5px;
  margin: 0;
}

.details {
  width: 50px;
  display: flex;
  margin: 0;
  cursor: pointer;
}

.details-td {
  background: white;
}

.edit-note,
.edit-category,
.edit-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-note {
  padding-right: 15px;
}

.edit-btn {
  padding-left: 10px;
}
