.banner {
    position: relative
}

.banner-img {
    object-fit: cover;
    width: 100%;
    height: 400px
}

.text-bnr {
    background-color: #e7fbe8;
    width: 100%;
    height: 100%;
    padding: 25px
}

.text-bnr-container {
    right: 100px;
    top: 70px;
    position: absolute
}