.banner {
  position: relative;
  margin-bottom: 20px;
}

.banner-img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.text-bnr {
  background-color: #e7fbe8;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.text-bnr-container {
  right: 100px;
  top: 70px;
  position: absolute;
}

@media all and (max-width: 800px) {
  .text-bnr {
    display: none;
  }

  .text-bnr-container {
    top: 0px;
  }

  .text-bnr h2 {
    font-size: 17px;
  }

  .text-bnr p {
    font-size: 14px;
  }
  .banner-img {
    content: url("../assets/img/bank-tree800.jpeg");
  }
}

@media all and (max-width: 500px) {
  .banner-img {
    content: url("../assets/img/bank-tree500.jpeg");
  }
}
