.logo img {
    width: 70%;
}

.conteneur-hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    margin: 30px;
    justify-content: flex-end;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: flex;
    padding-right: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.navigation li {
    color: #223b1c;
    list-style: none;
    transition: 0.2s;
    font-weight: 300;
    font-size: 20px;
}

.profile {
    display: flex;
}