.logo img {
  width: 70%;
}

.conteneur-hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  margin: 30px;
}

.navigation a {
  text-decoration: none;
  display: flex;
  color: black;
  margin-right: 20px;
  justify-content: space-between;
}

.nav-log {
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.nav-active:hover {
  transform: scale(1.05);
}

.navigation li {
  color: #223b1c;
  list-style: none;
  transition: 0.2s;
  font-weight: 300;
  font-size: 20px;
}

.signout {
  display: inline-block;
  padding: 3px 10px;
  margin-left: 13px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #d93a1e;
  color: #ffff;
  box-shadow: 0px 5px 0px #d93a1ebd;
  transition: transform 0.3s, box-shadow 0.3s;
}

.signout:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 0 #d93a1e37;
  cursor: pointer;
}

.profile {
  display: flex;
}

@media all and (max-width: 800px) {
  .navigation li {
    font-weight: 300;
    font-size: 15px;
  }

  .navigation img {
    width: 20px;
    height: 20px;
  }

  .logo img {
    width: 100%;
  }

  .logo {
    width: 100px;
  }
}

@media all and (max-width: 400px) {
  .logo {
    width: 100px;
  }

  .navigation ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .signout {
    margin: 0;
    font-size: 13px;
  }
}
